extends javascript
snippet tconst "ts const"
	const ${1}: ${2:any} = ${3};
	${0}

snippet is "import set"
	import * as set from "@bumblebee/core/gleam/set";

snippet il "import list"
	import * as set from "@bumblebee/core/gleam/list";

snippet id "import dict"
	import * as set from "@bumblebee/core/gleam/dict";
